* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  
  
  
  body{
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin:0;
    padding:0;
  }
  .navbar{
    display: flex;
    align-items:center ;
    padding: 20px;
  }
  
  nav{
    flex: 1;
    text-align: right;
  }
  
  nav ul{
    display:inline block;
    list-style-type:none;
  }
  
  nav ul li{
    display: inline-block;
    margin-right: 20px;
  }
  
  a{
    text-decoration: none;
    color:black;
  }
  p{
    clear:white;
  }
  
  .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  
  }
  .col-2{
    flex-basis: 50%;
    min-width: 300px;
  
  }
  
  .col-2 img{
    max-width: 100%;
    padding:50px 0;
  }
  
  .col-2 h1{
    font-size: 50px;
    line-height: 60 px;
    margin: 50px 0;
  }
  .btn{
    display: inline;
    background-color:crimson ;
    color: black;
    padding:10px 40px;
    margin: 40px 0;
    border-radius: 30px;
    transition:  background 0.5s;
  }
  
  .header{
    background:darkslategray;
  }
  
  .header row {
    margin-top:70 px;
  
  }
  
  .btn:hover{
    background: tan;
  }
  .categories{
    margin: 70px 0;
  }
  
  .col-3{
    flex-basis:30%;
    min-width: 250px;
    margin-bottom:30px;
    position: relative;
    
  
  }
  .col-3 img{
    width: 100%;
    align-items: center;
  }
  .smallContainer{
    max-width: 1080px;
    margin: auto;
    padding-right:25px;
    padding-left: 25px;
    
  }
  

  .col-4 img{
    width: 100%;
    align-items: center;
  }
  
  
  
  .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .col-4{
    padding: 50px;
    height: 300px;
    float: left;
    width: 30%;
    padding: 20px;

    top:0;
    left:0;
    right:30;
    bottom:0;
    margin: 20px;
   
  }
  

  #images{
    text-align:center;
}
  .row2::after {
    content: "";
    clear: both;
    display: block;
  }
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: crimson;
  }
  
  .col-3:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: rgb(3, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .add-cart{
    color: blue;
    position: absolute;
    padding-bottom: 20px;
    
  }
  
  .cart{
    vertical-align: bottom;
    font-size: 20px;
    padding-right: 5px;
  }
  .cart ion-icon {
    vertical-align: bottom;
    font-size: 25px;
    padding-right: 5px;
  }
  
  .cart a{
    background-color:  crimson;
    color: white;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
  }
  
  .col-11{
    padding: 50px;
    height: 300px;
    margin: 0 auto;
    float: right;
    width: 27%;
    padding: 20px;

    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: 158px;
  }

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.info{
  text-align: center;
  width: 50%;
}
.Naslov{
  text-align: center;
  margin-top: 20px;
}
 
.col-Movie{
  padding: 50px;
  height: 300px;
  margin: 0 auto;
  float: right;
  width: 20%;
  padding: 20px;

  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: 20px;
}

.info1{
  text-align: center;
  width: 85%;
}

.Naslov1{
  text-align: center;
  margin-top: 20px;
}

.col-12{
  float: left;
  width: 20%;
  padding: 5px;

}
.row12::after{
  content: "";
  clear: both;
  display: table;
}
.rowIn{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;

}

.col-Movie1{
  float: left;
  width: 33.33%;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  width: 50%;
  border: 3px solid #8AC007;

}
